/* Navbar CSS */
.navbar .nav > li > a:hover {
  color: #dd5600;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
}

/* Posts CSS */
.unobtrusive {
  opacity: 0.6;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  margin: 0 0 9px 3px;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/* Sidebar CSS */
.sidebar hr {
  margin: 8px 0;
  opacity: 0.6;
}

div.sidebar {
  font-size: 12px;
  background-color: rgba(125, 98, 44, 0.3);
  padding: 10px;
}

h4.sidebar, h5.sidebar {
  color: #555;
}

span.sidebar {
  margin-top: 6px;
  size: 100px;
}

ul.sidebar {
  margin: 0 0 0px -3px;
  display: inline-block;
  width: 50%;
}

ul.sidebar li {
  padding: 5px 0;
}

ul.sidebar a {
  text-decoration: none;
  background: rgba(125, 98, 44, 0.4);
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 3px 11px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
  color: white;
}

ul.sidebar a:hover {
  background: #dd5600;
}

div.twittersidebar, div.readingsidebar {
  background-color: rgba(125, 98, 44, 0.1);
  padding: 10px;
}

.twittersidebar ul, .readingsidebar ul {
  list-style-type: none;  
  margin: 0px;
}

.twittersidebar li {
  border-bottom: 1px dotted #67666f;
  padding: 3px 0 3px 0;
}

.label-comments[href] {
  margin: 9px 3px 3px 3px;
  background-color: rgba(125, 98, 44, 0.5);
}

.label-readmore[href] {
  margin: 9px 3px 3px 3px;
}

.label-readmore[href]:hover {
  background: #dd5600;
}

img.rss {
  height: 32px;
}

img.small {
  height: 16px;
}


