<table>
	<tr>
		<td>
			<a href="{{ page.bookurl }}" target="_blank"><img src="/pics/{{ page.bookimg }}" alt="{{ page.booktitle }}"></a>
		</td>
		<td>&nbsp;</td>
		<td>
			<br>
			<table class="table table-bordered table-striped">
				<tr>
					<td><strong>Title</strong></td>
					<td>{{ page.booktitle }}</td>
				</tr>
				<tr>
					<td><strong>Author</strong></td>
					<td>{{ page.bookauthor }}</td>
				</tr>
				<tr>
					<td><strong>Publisher</strong></td>
					<td>{{ page.bookpub }}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="3"><span class="unobtrusive">(Feel free to support my reviews through this <a href="{{ page.bookurl }}" target="_blank">Amazon link</a>. Thanks!)</span></td>
	</tr>
</table>
<br>

